//
// Project@ Discovery and Information Website
// ------------------------------------------
// Written by Brandon Mowat for Prof. Anya Tafliovich of the
// University of Toronto
//

@import './components/button.scss';
@import './components/card.scss';
@import './colors.scss';

html,
body {
	margin:0;
	padding:0;
	color: $gray;
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

a {
	cursor: pointer;
	text-decoration: none;
	font-weight: 500;
}
h2 {
	margin: 0.4em 0 0.2em 0;
	color: $black;
	font-size: 48px;
	letter-spacing: -0.02em;
	font-weight: 500;
}
h3 {
	margin: 1.5em 0 1em 0;
	font-size: 1em;
	color: $black;
}
h4 {
	margin: 0.5em 0 0.5em 0;
	font-size: 30px;
}
h4 > span {
	color: $black;
	opacity: 0.8;
	font-family: 'Roboto Mono';
}
h6 {
	font-weight: 400;
	font-size: 1em;
	margin: 0;
}
p {
	line-height: 1.8em;
	font-size: 1.1em;
}
.container {
	max-width: 850px;
	margin: 0 auto;
	padding: 0 22px;
}
.flex {
	display: flex;
	flex-direction: row;
}
.va {
	display: flex;
	align-items: center;
	justify-content: center;
}
.grid--row {
	display: flex;
	flex-direction: row;
}
.col-1-3 {
	width: 32%;
}
.col-1-3:nth-child(2n) {
	margin: 0 calc(3.33%/2);
}
.col-1-3:last-child {
	margin-right: 0;
}
.col-1-2:first-child {
	width: 48%;
}
.col-1-2:nth-child(2) {
	width: 48%;
	margin-left: 4%;
}
.text-center {
	text-align: center;
}
.cta a {
	margin: 0 0.5em;
}

// Site Header
header#site-header,
header#site-header--blue {
	width: 100%;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
	-webkit-backdrop-filter: blur(20px);
	z-index: 2;
}
header#site-header--blue {
	background-color: rgba(2, 168, 243, 0.95);
}
header a.logo {
	color: $gray;
}
.header--wrapper {
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 22px;
	max-width: 100%;
	margin: 20px auto 0 auto;
}
nav.header--menu {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	display: block;
}
.header--menu a {
	padding: 0 0.2em;
	color: $gray;
	font-size: 14px;
}
#cta--scrolldown {
	position: absolute;
	left: calc(50% - .505em);
	bottom: 1em;
	font-size: 2em;
}
#cta--scrolldown .material-icons {
	font-size: 1.1em;
}

// Main ------------------------
.main {
	position: relative;
	overflow: hidden;
}

section {
	padding-top: 1em;
}

// Main Section
section.main--section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.main--section .main--content {
	width: 100%;
	position: absolute;
	//margin-top: 10em;
	bottom: 30%;
	margin-top: -5em;
}
.main--content h1 {
	margin-top: 0;
	margin-bottom: 0.5em;
	color: #141823;
	font-weight: 200;
	font-size: 54px;
	text-align: center;
}
.main--content h3 {
	margin-bottom: 0;
	font-size: 16px;
	text-align: center;
	line-height: 22px;
	font-weight: 300;
	margin: 0 auto;
	max-width: 400px;
	margin-bottom: 3em;
}
.cta {
	text-align: center;
}
img#computer-display {
	width: 850px;
	position: absolute;
	top: calc((50% + 10em));
}

.how--section {

}
.how-it-works--diagram {
	border-top: 4px solid $primary;
}
.how-it-works--diagram .fs {
	font-family: 'Roboto Mono';
	border-left: 4px solid $primary;
}
.how-it-works--diagram .fs p {
	margin: 0.5em 0 0.5em 0.5em;
}

.why--section h2 {
	//color: $black;
}
.team--section {
	padding: 3em 0;
}

.overlay {
	transition: transform 0.3s ease;
	transform: translate3d(0, 100vh, 0);
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay.open {
	transform: translate3d(0, 0, 0);
}

object {
	width: 100%;
	height: calc(100vh - 60px);
	margin-top: 60px;
}
.sample-output {
	width: 100%;
}

footer {
	background-color: $darkBlue;
}
footer p {
	font-size: 1em;
	margin: 0;
}
footer .padd {
	padding: 1em 0;
}
footer .copy {
	border-top: 1px solid rgba(100,100,120,0.5);
}

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
