.button {
  text-align: center;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  width: 150px;
  font-size: 16px;
  display: inline-block;
  border-radius: 4px;
  color: #42A5F5;
  border: 1px solid #42A5F5; }

.button.long {
  width: 200px; }

.button:hover {
  color: #fff;
  background-color: #42A5F5; }

.card {
  box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25); }

html,
body {
  margin: 0;
  padding: 0;
  color: #9197A3;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500; }

h2 {
  margin: 0.4em 0 0.2em 0;
  color: #141823;
  font-size: 48px;
  letter-spacing: -0.02em;
  font-weight: 500; }

h3 {
  margin: 1.5em 0 1em 0;
  font-size: 1em;
  color: #141823; }

h4 {
  margin: 0.5em 0 0.5em 0;
  font-size: 30px; }

h4 > span {
  color: #141823;
  opacity: 0.8;
  font-family: 'Roboto Mono'; }

h6 {
  font-weight: 400;
  font-size: 1em;
  margin: 0; }

p {
  line-height: 1.8em;
  font-size: 1.1em; }

.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 22px; }

.flex {
  display: flex;
  flex-direction: row; }

.va {
  display: flex;
  align-items: center;
  justify-content: center; }

.grid--row {
  display: flex;
  flex-direction: row; }

.col-1-3 {
  position: relative;
  width: 32%; }

.col-1-3:nth-child(2n) {
  margin: 0 calc(3.33%/2); }

.col-1-3:last-child {
  margin-right: 0; }

.col-1-2:first-child {
  width: 48%; }

.col-1-2:nth-child(2) {
  width: 48%;
  margin-left: 4%; }

.col-1-5 {
  position: relative;
  width: calc(1 / 5 * 100%); }

.col-1-6 {
  width: calc(1 / 6 * 100%); }

.text-center {
  text-align: center; }

.cta a {
  margin: 0 0.5em; }

header#site-header,
header#site-header--blue {
  width: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
  z-index: 2; }

header#site-header--blue {
  background-color: rgba(2, 168, 243, 0.95); }

header a.logo {
  color: #9197A3; }

.header--wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 22px;
  max-width: 100%;
  margin: 20px auto 0 auto; }

nav.header--menu {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  display: block; }

.header--menu a {
  padding: 0 0.2em;
  color: #9197A3;
  font-size: 14px; }

#cta--scrolldown {
  position: absolute;
  left: calc(50% - .505em);
  bottom: 1em;
  font-size: 2em; }

#cta--scrolldown .material-icons {
  font-size: 1.1em; }

.main {
  position: relative;
  overflow: hidden; }

section {
  padding-top: 1em; }

section.main--section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.main--section .main--content {
  width: 100%;
  position: absolute;
  bottom: 30%;
  margin-top: -5em; }

.main--content h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #141823;
  font-weight: 200;
  font-size: 54px;
  text-align: center; }

.main--content h3 {
  margin-bottom: 0;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  font-weight: 300;
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 3em; }

.cta {
  text-align: center; }

img#computer-display {
  width: 850px;
  position: absolute;
  top: calc((50% + 10em)); }

.how--section h5 {
  text-align: center;
  text-transform: capitalize;
  font-size: 1em; }

.how-it-works--diagram .fs {
  font-family: 'Roboto Mono';
  border-left: 4px solid #42A5F5; }

.how-it-works--diagram .fs p {
  margin: 0.5em 0 0.5em 0.5em; }

.team--section {
  padding: 3em 0; }

.team--section .col-1-6 a {
  display: block; }

.team--section .col-1-6 {
  text-align: center; }

.profiles {
  margin-top: 5em; }

.tooltip--mask {
  position: relative; }

.tooltip--mask:hover .tooltip {
  display: block; }

.tooltip {
  text-align: center;
  padding: 10px 0;
  display: none;
  border-radius: 20px;
  width: 150px;
  top: -3.5em;
  left: calc(-75px + 50%);
  position: absolute;
  background-color: #141823; }

.tooltip h6 {
  color: #fff; }

.team--section img.profile {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%; }

.team--section img.profile:hover {
  box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25); }

.overlay {
  transition: transform 0.3s ease;
  transform: translate3d(0, 100vh, 0);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.overlay.open {
  transform: translate3d(0, 0, 0); }

object {
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px; }

.sample-output {
  width: 100%; }

footer {
  background-color: #353B46; }

footer p {
  font-size: 1em;
  margin: 0; }

footer .padd {
  padding: 1em 0; }

footer .copy {
  border-top: 1px solid rgba(100, 100, 120, 0.5); }

.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }

/*# sourceMappingURL=style.css.map */
